{
  "openapi": "3.1.0",
  "info": {
    "title": "Street Open API",
    "description": "Build on top of the UKs most advanced Estate Agency software.",
    "version": "1.0",
    "contact": {
      "name": "Street API Development Team",
      "url": "https://street.co.uk",
      "email": "apis@street.co.uk"
    }
  },
  "servers": [
    {
      "url": "https://street.co.uk/open-api/v1",
      "description": "Production."
    },
    {
      "url": "https://demo.street.co.uk/open-api/v1",
      "description": "Testing."
    }
  ],
  "paths": {
    "/activity": {
      "post": {
        "summary": "Create a activity log",
        "operationId": "post-activity",
        "responses": {
          "201": {
            "description": "Created."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to create a `Activity Log` record by providing core information such as the entity the `Activity Log` relates to and optionally the content/body of the `Activity Log`.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes",
                      "relationships"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "activity"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "activity_type",
                          "title",
                          "source"
                        ],
                        "properties": {
                          "activity_type": {
                            "type": "string",
                            "enum": [
                              "campaign_sent"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "meta": {
                            "type": [
                              "object",
                              "null"
                            ]
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "property_reports",
                              "print",
                              "social",
                              "email_marketing"
                            ]
                          },
                          "created_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      },
                      "relationships": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/PropertyRelated"
                          },
                          {
                            "$ref": "#/components/schemas/PersonRelated"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/network-settings": {
      "parameters": []
    },
    "/lettings-applicants": {
      "get": {
        "summary": "Get all Lettings Applicants",
        "tags": [
          "Applicants"
        ],
        "responses": {
          "200": {
            "description": "Get one or more Lettings Applicants in a paginated result.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Applicant"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedLettingsOffer"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedCompany"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedLettingsApplication"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedFollowUp"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-lettings-applicants",
        "description": "This endpoint retrieves multiple paginated applicants along with `meta` and `pagination` information.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a7c052ea-316a-4b55-8d47-9af7f782f887"
            },
            "in": "query",
            "name": "filter[branch]",
            "description": "Filter the Applicants by Branch."
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "filter[areas]",
            "description": "Filter the Applicants by a comma-separated list of area names.",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/filter_applicant_price_from"
          },
          {
            "$ref": "#/components/parameters/filter_applicant_price_to"
          },
          {
            "$ref": "#/components/parameters/filter_applicant_min_bedrooms"
          },
          {
            "$ref": "#/components/parameters/filter_applicant_furnished"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "offers",
                  "viewings",
                  "people",
                  "company",
                  "notes",
                  "applications",
                  "followUps",
                  "negotiator"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results, e.g. `branch,offers,viewings,people,notes`",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "filter[follow_ups_due_from]",
            "description": "Filter results to applicants with a follow up after the provided ISO8601 date."
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "description": "Filter results to applicants with a follow up before the provided ISO8601 date.",
            "name": "filter[follow_ups_due_to]"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "hot",
                  "warm",
                  "cold",
                  null
                ]
              },
              "uniqueItems": true
            },
            "in": "query",
            "name": "filter[lead_rating]",
            "description": "Filter applicants by their lead rating. Accepts: hot, warm, cold, or null. Can pass multiple values.",
            "style": "form",
            "explode": false
          }
        ]
      },
      "parameters": []
    },
    "/lettings-applicants/{applicant_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "applicant_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Applicant."
        }
      ],
      "get": {
        "summary": "Get a single Lettings Applicant",
        "tags": [
          "Applicants"
        ],
        "responses": {
          "200": {
            "description": "Get Lettings Applicant by `UUID`.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Applicant"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedLettingsOffer"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedCompany"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedLettingsApplication"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedFollowUp"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-lettings-applicants-applicantId",
        "description": "This endpoint retrieves a single applicant by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "offers",
                  "viewings",
                  "people",
                  "company",
                  "notes",
                  "applications",
                  "followUp",
                  "negotiator"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results, e.g. `branch,offers,viewings,people,notes`",
            "style": "form",
            "explode": false
          }
        ]
      }
    },
    "/sales-applicants": {
      "get": {
        "summary": "Get all Sales Applicants",
        "tags": [
          "Applicants"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Applicant"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSalesOffer"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedCompany"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedFollowUp"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSale"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-sales-applicants",
        "description": "This endpoint retrieves multiple paginated applicants along with `meta` and `pagination` information.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "filter[branch]",
            "description": "Filter the Applicants by Branch."
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "filter[areas]",
            "description": "Filter the Applicants by a comma-separated list of area names.",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/filter_applicant_price_from"
          },
          {
            "$ref": "#/components/parameters/filter_applicant_price_to"
          },
          {
            "$ref": "#/components/parameters/filter_applicant_min_bedrooms"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FTB",
                  "INV",
                  "BTLI",
                  "NPTS",
                  "NOM",
                  "OTM",
                  "SSTC",
                  "UO",
                  "PTS",
                  "DEV",
                  "BUY"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "filter[buying_position]",
            "description": "Filter the Applicants by their buying position.\n\nAvailable values are:\n  - FTB (First-time buyer)\n  - INV (Investor)\n  - BTLI (Buy to let investor)\n  - NPTS (No property to sell)\n  - NOM (In process of selling - Valuation)\n  - OTM (In process of selling - On the market)\n  - SSTC (In process of selling - Sold STC)\n  - UO (In process of selling - Under Offer)\n  - PTS (Property to sell)\n  - DEV (Developer)\n  - BUY (Buying Agent)\n",
            "style": "form"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NIP",
                  "SOAQ",
                  "SAMA",
                  "AIP",
                  "NFCB",
                  "CBFS",
                  "PMTG"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "filter[financial_position]",
            "description": "Filter the Applicants by their financial position.\n\nAvailable values are:\n  - NIP (Nothing in place)\n  - SOAQ (Seeking own advice / quotes)\n  - SAMA (Currently seeing agent’s mortgage advisor)\n  - AIP (Agreement in Principle in place)\n  - NFCB (Does not need Finance (Cash Buyer))\n  - CBFS (Cash Buyer, proceeds from Sale)\n  - PMTG (Porting Mortgage)\n",
            "style": "form"
          },
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "offers",
                  "viewings",
                  "people",
                  "company",
                  "notes",
                  "sales",
                  "followUps",
                  "negotiator"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results, e.g. `branch,offers,viewings,people,notes,sales`",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "filter[follow_ups_due_from]",
            "description": "Filter results to applicants with a follow up after the provided ISO8601 date."
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "description": "Filter results to applicants with a follow up before the provided ISO8601 date.",
            "name": "filter[follow_ups_due_to]"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "hot",
                  "warm",
                  "cold",
                  null
                ]
              },
              "uniqueItems": true
            },
            "in": "query",
            "name": "filter[lead_rating]",
            "description": "Filter applicants by their lead rating. Accepts: hot, warm, cold, or null. Can pass multiple values.",
            "style": "form",
            "explode": false
          }
        ]
      },
      "parameters": []
    },
    "/sales-applicants/{applicant_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "applicant_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Applicant."
        }
      ],
      "get": {
        "summary": "Get a single Sales Applicant",
        "tags": [
          "Applicants"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Applicant"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSalesOffer"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedCompany"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedFollowUp"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSale"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-sales-applicants-applicantId",
        "description": "This endpoint retrieves a single applicant by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "offers",
                  "viewings",
                  "people",
                  "company",
                  "notes",
                  "sales",
                  "followUp",
                  "negotiator"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results, e.g. `branch,offers,viewings,people,notes,sales`",
            "style": "form",
            "explode": false
          }
        ]
      }
    },
    "/areas": {
      "get": {
        "summary": "Get all Areas",
        "tags": [
          "Areas"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Area"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-areas",
        "description": "This endpoint retrieves multiple paginated areas along with `meta` and `pagination` information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ]
      }
    },
    "/branches": {
      "get": {
        "summary": "Get all Branches",
        "tags": [
          "Branches"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Branch"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedUser"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-branches",
        "description": "This endpoint retrieves multiple paginated branches along with `meta` and `pagination` information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "users",
                  "properties",
                  "applicants"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "explode": false,
            "style": "form"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ]
      }
    },
    "/branches/{branch_id}": {
      "get": {
        "summary": "Get a single Branch",
        "tags": [
          "Branches"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Branch"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedUser"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-branch",
        "description": "This endpoint retrieves a single branch by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "users",
                  "properties",
                  "applicants"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "explode": false,
            "style": "form"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Branch."
          }
        ]
      }
    },
    "/brands": {
      "get": {
        "summary": "Get all Brands",
        "tags": [
          "Brands"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Brand"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-brands",
        "description": "This endpoint retrieves multiple paginated brands along with `meta` and `pagination` information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ]
      }
    },
    "/brands/{brand_id}": {
      "get": {
        "summary": "Get a single Brand",
        "tags": [
          "Brands"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Brand"
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-brand",
        "description": "This endpoint retrieves a single brand by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "brand_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Brand."
          }
        ]
      }
    },
    "/lettings-applications/{application_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "application_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Application."
        }
      ],
      "get": {
        "summary": "Get a single Lettings Application",
        "description": "This endpoint retrieves a single lettings application by its `UUID`.",
        "tags": [
          "Lettings Applications"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LettingsApplication"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedEpc"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSafetyCertificate"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedDownloadableMedia"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedTenancy"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedTenancyAgreement"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedHoldingDeposit"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedMeterReading"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-lettings-applications-application_id",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "property",
                  "tenancy",
                  "tenancyAgreement",
                  "holdingDeposit",
                  "applicant",
                  "applicant.people",
                  "epc",
                  "safetyCertificates",
                  "tenancyGuide",
                  "landlordOfferLetter",
                  "tenantGuarantorReferenceForm",
                  "tenantGuarantorReferenceReport",
                  "tenantGuarantorIdDocument",
                  "generatedDocument",
                  "meterReadings"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results supplied as a comma separated list.",
            "style": "form",
            "explode": false
          }
        ]
      }
    },
    "/companies": {
      "get": {
        "summary": "Get all Companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-companies",
        "description": "This endpoint retrieves multiple paginated companies along with `meta` and `pagination` information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "people",
                  "properties",
                  "applicants",
                  "notes"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[telephone_number]",
            "description": "Filter results by the telephone number."
          }
        ]
      }
    },
    "/companies/{company_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "company_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Company."
        }
      ],
      "get": {
        "summary": "Get a single Company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNotes"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-companies-companyId",
        "description": "This endpoint retrieves a single company by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "people",
                  "properties",
                  "applicants",
                  "notes"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "style": "form",
            "explode": false
          }
        ]
      }
    },
    "/documents": {
      "post": {
        "operationId": "post-documents",
        "summary": "Create a Document",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Media"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes",
                      "relationships"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "document"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "file_url",
                          "title"
                        ],
                        "properties": {
                          "file_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The endpoint will only accept the following filetypes: PDF, JPG, PNG."
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_public": {
                            "type": [
                              "boolean",
                              "null"
                            ],
                            "description": "Indicates whether the document is public. This value will be ignored if it's determined that the document cannot be made public.",
                            "default": false
                          },
                          "key": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "api_tenancy_guide",
                              "api_landlord_offer_letter",
                              "api_tenancy_agreement",
                              "api_tenant_guarantor_reference_form",
                              "api_tenant_guarantor_reference_report",
                              "api_tenant_guarantor_id_document"
                            ],
                            "pattern": "^[a-z_]*$",
                            "example": "api_tenancy_guide"
                          }
                        }
                      },
                      "relationships": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/PropertyRelated"
                          },
                          {
                            "$ref": "#/components/schemas/SalesApplicantRelated"
                          },
                          {
                            "$ref": "#/components/schemas/LettingsApplicantRelated"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint allows you to create a `Document` attached to an entity by providing a publically accessible URL for the file.\n        In addition you can add relevant information such as a title and description of the file.",
        "tags": [
          "Documents"
        ],
        "x-internal": false
      },
      "parameters": []
    },
    "/photos/{property_id}/media/{media_id}": {
      "patch": {
        "operationId": "patch-photos-propertyId-imageId",
        "summary": "Update a photos details",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "property_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Property."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "media_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Image."
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "image"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "include_in_listing": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "Photo details to update"
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UploadedMedia"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to update a photo details.",
        "tags": [
          "Images"
        ],
        "x-internal": false
      },
      "delete": {
        "operationId": "delete-photos-propertyId-imageId",
        "summary": "Delete a photo from a property",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "property_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Property."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "media_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Image."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to delete a photo from a property.",
        "tags": [
          "Images"
        ],
        "x-internal": false
      }
    },
    "/floorplans/{property_id}/media/{media_id}": {
      "delete": {
        "operationId": "delete-floorplans-propertyId-imageId",
        "summary": "Delete a floorplan from a property",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "property_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Property."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "name": "media_id",
            "in": "path",
            "required": true,
            "description": "The UUID of the Image."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to delete a floorplan from a property.",
        "tags": [
          "Images"
        ],
        "x-internal": false
      }
    },
    "/enquiries": {
      "get": {
        "summary": "Get all Enquiries",
        "operationId": "get-enquiries",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Enquiry"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint retrieves multiple paginated enquiries along with `meta` and `pagination` information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_branch"
          },
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "in": "query",
            "name": "filter[email_address]",
            "description": "Filter enquiries by the provided email address"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[telephone_number]",
            "description": "Filter enquiries by the provided telephone number"
          },
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ],
        "tags": [
          "Enquiries"
        ]
      },
      "post": {
        "summary": "Create an Enquiry",
        "operationId": "post-enquiries",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Enquiry"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to create an `Enquiry` record by providing core information such as name, email address and enquiry details alongside any appointment requests such as viewings or valuations.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes",
                      "relationships"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "enquiry"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "email_address",
                          "message"
                        ],
                        "properties": {
                          "first_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "email_address": {
                            "type": "string",
                            "format": "email"
                          },
                          "telephone_number": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "message": {
                            "type": "string"
                          },
                          "custom_source": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 25,
                            "description": "A one or 2 word descriptor to designate where this Enquiry has originated from ie \"website\""
                          },
                          "postcode": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "maxLength": 8,
                            "description": "Optional UK postcode for the enquirer. When supplied and the enquiry creates a new Person, this is stored as the Person's correspondence address. Ignored when the enquiry matches an existing Person — never overwrites a curated address."
                          },
                          "property_uuid": {
                            "type": [
                              "null",
                              "string"
                            ],
                            "format": "uuid"
                          },
                          "branch_uuid": {
                            "type": [
                              "null",
                              "string"
                            ],
                            "format": "uuid"
                          },
                          "request_viewing": {
                            "type": "boolean"
                          },
                          "request_valuation": {
                            "type": "boolean"
                          },
                          "property_to_sell": {
                            "type": "boolean"
                          },
                          "property_to_let": {
                            "type": "boolean"
                          }
                        }
                      },
                      "relationships": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/PropertyRelated"
                          },
                          {
                            "$ref": "#/components/schemas/SalesApplicantRelated"
                          },
                          {
                            "$ref": "#/components/schemas/LettingsApplicantRelated"
                          }
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Enquiries"
        ]
      }
    },
    "/enquiries/{enquiry_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "enquiry_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Enquiry."
        }
      ],
      "get": {
        "summary": "Get a single Enquiry",
        "tags": [
          "Enquiries"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Enquiry"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedPerson"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/IncludedLinks"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-enquiries-enquiryId",
        "description": "This endpoint retrieves a single enquiry by its `UUID`.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "property",
                  "branch",
                  "person"
                ]
              },
              "uniqueItems": true,
              "minItems": 1
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results, e.g. `property,branch,person`",
            "explode": false,
            "style": "form"
          }
        ]
      }
    },
    "/follow-ups": {
      "get": {
        "summary": "Get all Follow Ups",
        "operationId": "get-follow-ups",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowUp"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSale"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedValuation"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint retrieves multiple paginated follow ups along with `meta` and `pagination` information.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "negotiator",
                  "property",
                  "lettingsApplicant",
                  "salesApplicant",
                  "sale",
                  "valuation",
                  "viewing"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "style": "form",
            "explode": false
          },
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "property",
                  "lettingsApplicant",
                  "salesApplicant",
                  "sale",
                  "valuation",
                  "viewing"
                ]
              }
            },
            "in": "query",
            "name": "filter[subject]",
            "description": "Filter Follow Ups by the subject entity they relate to.",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/filter_branch"
          },
          {
            "$ref": "#/components/parameters/filter_property"
          },
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ],
        "tags": [
          "Follow Ups"
        ]
      },
      "post": {
        "summary": "Create a Follow Up",
        "operationId": "post-follow-ups",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FollowUp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to create a `Follow Up` record by providing core information such as the entity the `Follow Up` relates to and optionally the content/body of the `Follow Up`.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes",
                      "relationships"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "follow-up"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "due_date"
                        ],
                        "properties": {
                          "due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "note": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      },
                      "relationships": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/PropertyRelated"
                          },
                          {
                            "$ref": "#/components/schemas/SalesApplicantRelated"
                          },
                          {
                            "$ref": "#/components/schemas/LettingsApplicantRelated"
                          },
                          {
                            "$ref": "#/components/schemas/SaleRelated"
                          },
                          {
                            "$ref": "#/components/schemas/ValuationRelated"
                          }
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "data": {
                      "type": "follow-up",
                      "attributes": {
                        "due_date": "2019-08-24"
                      },
                      "relationships": {
                        "property": {
                          "data": {
                            "type": "property",
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Follow Ups"
        ]
      },
      "parameters": []
    },
    "/todos": {
      "get": {
        "summary": "Get all Tasks",
        "operationId": "get-todos",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Todo"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/IncludedBranch"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedProperty"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedViewing"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedValuation"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedSale"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedApplicant"
                          },
                          {
                            "$ref": "#/components/schemas/IncludedNegotiator"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint retrieves multiple paginated tasks along with `meta` and `pagination` information.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "branch",
                  "negotiator",
                  "property",
                  "lettingsApplicant",
                  "salesApplicant",
                  "sale",
                  "valuation",
                  "viewing"
                ]
              }
            },
            "in": "query",
            "name": "include",
            "description": "Optional related entities to include in the results.",
            "style": "form",
            "explode": false
          },
          {
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "property",
                  "lettingsApplicant",
                  "salesApplicant",
                  "sale",
                  "valuation",
                  "viewing"
                ]
              }
            },
            "in": "query",
            "name": "filter[subject]",
            "description": "Filter tasks by the subject entity they relate to.",
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/filter_branch"
          },
          {
            "$ref": "#/components/parameters/filter_property"
          },
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ],
        "tags": [
          "Tasks"
        ]
      },
      "post": {
        "summary": "Create a Task",
        "operationId": "post-todos",
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Todo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This endpoint allows you to create a `Task` record by providing core information such as the entity the `Task` relates to and optionally the content/body of the `Task`.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "todo"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "title"
                        ],
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "user_uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Optional. The UUID of the User to assign the Task to. The User must belong to the authenticated User's Network."
                          },
                          "note": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      },
                      "relationships": {
                        "$ref": "#/components/schemas/TodoRelationship"
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "data": {
                      "type": "todo",
                      "attributes": {
                        "title": "Post on social media",
                        "due_date": "2025-09-19",
                        "user_uuid": "88a2d6f4-1c3b-4a2e-9f0d-2b7c5e1a4d6f"
                      },
                      "relationships": {
                        "property": {
                          "data": {
                            "type": "property",
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tasks"
        ]
      },
      "parameters": []
    },
    "/todo-types": {
      "get": {
        "summary": "Get all Task Types",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TodoType"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      ]
                    },
                    "jsonapi": {
                      "$ref": "#/components/schemas/JsonApi"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-todo-types",
        "description": "This endpoint retrieves multiple paginated task types along with `meta` and `pagination` information. Returns both network-specific and global (null network_id) task types.",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_trashed"
          },
          {
            "$ref": "#/components/parameters/filter_created_from"
          },
          {
            "$ref": "#/components/parameters/filter_created_to"
          },
          {
            "$ref": "#/components/parameters/filter_updated_from"
          },
          {
            "$ref": "#/components/parameters/filter_updated_to"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          }
        ]
      }
    },
    "/todo-types/{todo_type_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "todo_type_id",
          "in": "path",
          "required": true,
          "description": "The UUID of the Task Type."
        }
      ],
      "get": {
        "operationId": "get-todo-types-todoTypeID",
        "summary": "Get a single Task Type",
[...]
